<!doctype html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="static/assets/plugins/testimonial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/plugins/testimonial/css/owl.theme.min.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>
<style>
    p.ex1 {
    text-align: justify;
      padding-left: 50px;
      padding-bottom: 25px;
      padding-top: 25px;
    }
    

    .ex2{
        text-align: justify;
        padding-left: 100px;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    .space{
        padding-bottom: 25px;
        padding-top: 25px;
    }

</style>
<body>
    <!-- ***************************** Head Starts Here *********************************-->
    <div class="head-cover">
         <header id="menu-jk" class="container-fluid">
            <div class="container">
                <div class="row head-ro">
                    <div class="col-md-3 logo">

                        <div class="logoInicio">
                            <a href="/">
                                <img src="static/assets/images/KR_LOGO_.png" alt="">
                            </a>
                        </div>
                                 <a class="d-md-none small-menu" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas d-lg-none  fa-bars"></i>
                           </a>
                    </div>

                </div>
            </div>
        </header>
    </div>

    <!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Terminos y condiciones</h2>
            <ul>
                <li><i class="fas fa-angle-double-right"></i> Políticas de Privacidad y Protección de Datos</li>
            </ul>
        </div>
    </div>
</div>


<section class="container-fluid about-coo">
  <div class="container">
    <div>
        <div class="row section-title">
            <h3 class="space">Política de Tratamiento de Datos Personales Digital Key & Resourses en adelante DKR </h3>
        </div>        
        <p>Digital Key & Resources, en el desarrollo de sus actividades comerciales, ha diseñado su Política para el Tratamiento de 
            los Datos Personales, la cual refleja los principios y reglas establecidas en el Régimen General de Protección de Datos 
            Personales con el fin de garantizar el derecho al habeas data de los Titulares de información personal. Estas reglas y principios son:</p>
        <div>
            <p  class="ex1"><strong>Autorización previa: </strong> Todo Tratamiento de Datos Personales requerirá la Autorización previa, expresa e informada del Titular, 
                salvo que la Ley establezca una excepción a esta regla.</p>
            <p  class="ex1"><strong>Finalidad autorizada: </strong> Toda actividad de Tratamiento de Datos Personales deberá obedecer a las finalidades mencionadas en 
                la autorización otorgada por el Titular del Dato, o en los documentos específicos donde se regule cada tipo o proceso de Tratamiento de Datos 
                Personales, la que en todo caso se encuentra publicada en la página web: serviciosdkr.pythonanywhere.com, link: https://serviciosdkr.pythonanywhere.com 
                “Políticas de Privacidad y Protección de Datos”, cláusula “DECLARACIONES Y AUTORIZACIONES PARA TRATAMIENTOS DE DATOS PERSONALES”. 
                La finalidad particular del Tratamiento de un Dato Personal se informará al Titular del Dato Personal al obtener su Autorización.
                 De manera general, las principales finalidades del Tratamiento de Datos Personales por parte de Digital Key & Resources, son pero no se limitan a:
            </p>
        </div>
        
        <div class="ex2">
            <ul>
                <li><i class="fa fa-check"></i> Realizar todos los procesos necesarios para dar cumplimiento a las obligaciones legales y regulatorias en relación 
                    con los empleados de Digital Key & Resources.</li>
                <li><i class="fa fa-check"></i> Gestionar toda la información necesaria para el cumplimiento de las obligaciones tributarias y de registros comerciales, 
                    corporativos y contables de Digital Key & Resources.</li>
                <li><i class="fa fa-check"></i> Cumplir los procesos internos de Digital Key & Resources en materia de administración de proveedores y contratistas.</li>
                <li><i class="fa fa-check"></i> Prestar sus servicios de acuerdo con las necesidades particulares de los clientes de Digital Key & Resourses, con el 
                    fin de cumplir los contratos celebrados, incluyendo pero sin limitarse a: (i) Tramitar las solicitudes de los consumidores financieros, deudores, 
                    contrapartes contractuales y/o proveedores; (ii) Negociar y celebrar contratos, incluyendo la determinación y análisis (incluyendo envío de correspondencia); 
                    (iii) Ejecutar y cumplir los contratos que celebre Digital Key & Resourses con las Compañías Tratantes definidas en la cláusula “DECLARACIONES Y 
                    AUTORIZACIONES PARA TRATAMIENTOS DE DATOS PERSONALES”, publicada en la página web: https://serviciosdkr.pythonanywhere.com/, link: “Políticas de Privacidad y 
                    Protección de Datos” en Colombia o en el extranjero para cumplir su actividad comercial y los servicios; (iv) Controlar y prevenir fraudes, lavado de activos, 
                    la financiación del terrorismo o la financiación de la proliferación de armas de destrucción masiva; (v)  Controlar el cumplimiento de requisitos relacionados 
                    con el Sistema de Seguridad Social Integral; (vii) Elaborar estudios técnicos, encuestas, análisis de tendencias de mercado y en general cualquier estudio técnico 
                    o de campo relacionado con el sector; (viii) Enviar ofertas de productos o servicios o comunicaciones comerciales de cualquier clase relacionadas con los mismos, 
                    a través de cualquier medio de comunicación, incluyendo pero sin limitarse a ofertas de productos y servicios de Compañías con las que Digital Key & Resourses 
                    tenga convenio; (ix) Permitir que las Compañías Tratantes consulten, obtengan, actualicen y/o divulguen a centrales de riesgo crediticio u operadores de bancos 
                    de datos de información financiera, crediticia, comercial, de servicios y la proveniente de terceros países o entidades similares cualquier información sobre el 
                    nacimiento, la modificación, el cumplimiento o incumplimiento y/o la extinción de las obligaciones que llegue a contraer el Titular de la información con Digital 
                    Key & Resources o con cualquier otra de las Compañías Tratantes con el fin de que estas centrales u operadores y las entidades a ellas afiliadas consulten, analicen
                     y utilicen esta información para sus propósitos legales o contractuales, incluyendo la generación de perfiles individuales y colectivos de comportamiento crediticio 
                     y de otra índole, la realización de estudios y actividades comerciales; (x) Crear bases de datos de acuerdo a las características y perfiles de los titulares de
                      Datos Personales, todo de acuerdo con lo dispuesto en la ley; y (xi) Enviar información financiera de sujetos de tributación en los Estados Unidos al IRS o a 
                      otras autoridades de Estados Unidos u otros países, en los términos de FATCA o de normas de similar naturaleza de terceros países o de tratados internacionales.</li>
                <li><i class="fa fa-check"></i>Las demás finalidades que determine Digital Key & Resources en procesos de obtención de Datos Personales para su Tratamiento, y en todo 
                    caso de acuerdo con la Ley.</li>
            </ul>


        </div>
        
        <p class="ex1"><strong>Calidad del Dato: </strong> El Dato Personal sometido a Tratamiento deberá ser veraz, completo, exacto, actualizado, comprobable y comprensible.
             Cuando se esté en poder de Datos Personales parciales, incompletos, fraccionados o que induzcan a error, Digital Key & Resources deberá abstenerse de 
             someterlo a Tratamiento, o solicitar a su Titular la completitud o corrección de la información.
        </p>
        <p class="ex1"><strong>Circulación restringida: </strong>  Los Datos Personales sólo deberán ser Tratados por aquel personal de Digital Key & Resources y de las Compañías 
            Tratantes que cuenten con autorización para ello, o quienes dentro de sus funciones tengan a cargo la realización de tales actividades. No podrá entregarse 
            Datos Personales a quienes no cuenten con Autorización o no hayan sido habilitados por Digital Key & Resources para Tratarlos.
       </p>
       <p class="ex1"><strong>Acceso restringido: </strong>  Digital Key & Resources no hará disponibles Datos Personales para su acceso a través de Internet u otros medios masivos de comunicación, a 
        menos que se establezcan medidas técnicas que permitan controlar el acceso y restringirlo solo a las personas autorizadas.
        </p>
        <p class="ex1"><strong>Confidencialidad y Tratamiento posterior: </strong>  Todo Dato Personal que no sea Dato Público se tratará por Digital Key & Resources como confidencial, 
            aun cuando la relación contractual o el vínculo entre el Titular del Dato Personal y Digital Key & Resources haya terminado. A la terminación de dicho vínculo, 
            tales Datos Personales deben continuar siendo Tratados de acuerdo con lo dispuesto por la Ley.</p>
        <p class="ex1"><strong>Necesidad: </strong>  Los Datos Personales sólo pueden ser Tratados durante el tiempo y en la medida que la finalidad de su Tratamiento lo justifique.</p>
        <p class="ex1"><strong>Confidencialidad y Tratamiento posterior: </strong>  Todo Dato Personal que no sea Dato Público se tratará por Digital Key & Resources como confidencial, 
            aun cuando la relación contractual o el vínculo entre el Titular del Dato Personal y Digital Key & Resources haya terminado. A la terminación de dicho vínculo, 
            tales Datos Personales deben continuar siendo Tratados de acuerdo con lo dispuesto por la Ley.</p>
        <p class="ex1"><strong>Acceso a la información: </strong>  El Titular, directamente o a través de las personas habilitadas por el Régimen General de Protección de Datos Personales, 
            podrá consultar de forma gratuita sus datos personales al menos una vez al mes y cada vez que existan modificaciones sustanciales de las Políticas de Tratamiento 
            de Datos Personales que motiven nuevas consultas. En el evento en que se realice más de una consulta por cada mes calendario, Digital Key & Resources cobrará al
             Titular los gastos de envío, reproducción y certificación de documentos.</p>
        <p class="ex1"> <strong>Derechos de los Titulares:: </strong>  De acuerdo con la Ley, los Titulares de Datos Personales tienen los siguientes derechos:</p>
        <ul class="ex2">
            <li><i class="fa fa-check"></i> Conocer, actualizar y rectificar sus Datos Personales frente a Digital Key & Resources o los Encargados del Tratamiento de los mismos. 
                Este derecho se podrá ejercer, entre otros, frente a Datos Personales parciales, inexactos, incompletos, fraccionados, que induzcan a error, 
                o aquellos cuyo Tratamiento esté expresamente prohibido o no haya sido autorizado.</li>
            <li><i class="fa fa-check"></i> Solicitar prueba de la Autorización otorgada a Digital Key & Resources, salvo que la Ley indique que dicha Autorización no es necesaria.</li>
            <li><i class="fa fa-check"></i> Presentar solicitudes ante Digital Key & Resources o el Encargado del Tratamiento respecto del uso que se le ha dado a sus Datos Personales, 
                y a que éstas le entreguen tal información.</li>
            <li><i class="fa fa-check"></i> Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a la Ley.</li>
            <li><i class="fa fa-check"></i>Revocar su Autorización y/o solicitar la supresión de sus Datos Personales de las Bases de Datos de Digital Key & Resources, 
                en cualquier momento, o cuando la Superintendencia de Industria y Comercio haya determinado mediante acto administrativo definitivo que Digital Key & 
                Resources o el Encargado del Tratamiento ha incurrido en conductas contrarias a la Ley.
            </li>
        </ul>
        <p> El Responsable del Tratamiento de los Datos Personales son las siguientes sociedades, dependiendo del caso y consulta específica: 
            Digital Key & Resources, sociedad legalmente constituidas, con domicilio en la ciudad de Bogotá, Dirección electrónica: https://serviciosdkr.pythonanywhere.com/ 
            link: contáctenos, correo electrónico serviciosknr@gmail.com, teléfono +57 310 244 0504 En Bogotá al +57 317 5351526. </p>
            
        <p class="ex2">La presente Política entró en vigencia el 02 de Septiembre de 2022.</p>
  </div>
</section>


<!--********************************* Footer Starts Here ********************************************-->


<div class="footer-ablove">
    <div class="container">
        <div class="row">
            <p>¿Deseas probar el producto antes de comprarlo?
                <a href="https://drive.google.com/drive/folders/10vGlueb6CayuLqKq-4Pw6xHnX8qljx9n" download="proposed_file_name"><button class="btn btn-default">Obtenlo acá</button></a>
            </p>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 about">
                <h2>Acerca de Nosotros</h2>
                <p>No creamos un producto para ganar dinero, ganamos dinero para crear un producto </p>

                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="addet">
                        Bogotá D.C
                        Colombia
                        Latino américa, COL
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="addet">
                        serviciosknr@gmail.com <br>
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                       <i class="fas fa-mobile-alt"></i>
                   </div>
                   <div class="addet">
                    +57 313 269 8927 <br>
                    +57 310 244 0504
                </div>
            </div>
        </div>
        <div class="col-md-3 fotblog">
            <h2>Temas del Blog</h2>
            <div class="blohjb">
                <p>Importancia de la cultura del dato en tu negocio. </p>
                <span>01-04-2022</span>
            </div>
            <div class="blohjb">
                <p>Importancia de la renovación de los clientes. </p>
                <span>05-05-2022</span>
            </div>
            <div class="blohjb">
                <p>Integración de los datos en los negocios. </p>
                <span>22-06-2022</span>
            </div>
        </div>
        <div class="col-md-3 glink">
            <ul>
                <li><a href="/"><i class="fas fa-angle-double-right"></i>Inicio</a></li>
                <li><a href="/conocenos"><i class="fas fa-angle-double-right"></i>Acerca</a></li>
                <li><a href="/servicios"><i class="fas fa-angle-double-right"></i>Servicios</a></li>
                <li><a href="/blog"><i class="fas fa-angle-double-right"></i>Blog</a></li>
                <li><a href="/contactanos"><i class="fas fa-angle-double-right"></i>Contactanos</a></li>
            </ul>
        </div>
        <div class="col-md-3 tags">
            <h2>Easy Tags</h2>
            <ul>
                <li>Finanzas</li>
                <li>Negocio</li>
                <li>Marketing</li>
                <li>Datos</li>
                <li>Analítica</li>
                <li>Seguridad</li>
                <li>Tecnología</li>
            </ul>
        </div>
    </div>
</div>
</footer>
<div class="copy">
    <div class="container">
        <a href="">2022 &copy; All Rights Reserved | Designed and Developed by DK&R software</a>
        <span>
            <a><i class="fab fa-github"></i></a>
            <a><i class="fab fa-google-plus-g"></i></a>
            <a><i class="fab fa-pinterest-p"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-facebook-f"></i></a>
        </span>
    </div>
</div>


</body>

<script src="static/assets/js/jquery-3.2.1.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="static/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="static/assets/js/script.js"></script>
</html>
