<!doctype html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/fontawsom-all.min.css">
    <link rel="stylesheet" href="static/assets/plugins/testimonial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/assets/plugins/testimonial/css/owl.theme.min.css">
    <link rel="stylesheet" href="static/assets/css/style.css">
</head>

<body>
    <!-- ***************************** Head Starts Here *********************************-->
    <div class="head-cover">
         <header id="menu-jk" class="container-fluid">
            <div class="container">
                <div class="row head-ro">
                    <div class="col-md-3 logo">
                        <img src="static/assets/images/KR_LOGO_.png" alt="">
                                 <a class="d-md-none small-menu" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fas d-lg-none  fa-bars"></i>
                           </a>
                    </div>
                    <div id="collapseExample" class="col-md-9  nav">
                        <ul>
                          <li><a href="/">Inicio</a></li>
                          <li><a href="/conocenos">Acerca</a></li>
                          <li><a href="/servicios">Servicios</a></li>
                          <li><a href="/blog">Blog</a></li>
                          <li><a href="/contactanos">Contactanos</a></li>
                          <li class="btnll"><a href="/Clientes"><button class="btn btn-sm btn-primary">Crear Cuenta</button></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </header>
    </div>
    <!--  ************************* Page Title Starts Here ************************** -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Nuestros Servicios</h2>
            <ul>
                <li> <a href="#"><i class="fas fa-home"></i> Inicio</a></li>
                <li><i class="fas fa-angle-double-right"></i> Servicios</li>
            </ul>
        </div>
    </div>
</div>



<!--*************** Features Starts Here ***************-->
<section id="features" class="features container-fluid">
    <div class="container">
       <div class="row section-title">
           <h2>Nuestros Servicios</h2>
           <p> Somos integrales en nuestros servicios y estamos dispuestos a colaborar en lo que necesites, contamos con las siguientes servicios cuando adquieres nuestro producto:  </p>
       </div>
        <div class="row mt-5 feature-row">
            <div class="col-md-4">
                <div class="feature-col">
                   <img src="static/assets/images/services/s1.png" alt="">
                    <h4>Data Clientes</h4>
                    <p>Analizamos el comportamiento de tus clientes para impulsar el crecimiento de tu negocio. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-col">
                   <img src="static/assets/images/services/s2.png" alt="">
                    <h4>Almacenamiento de tus Datos</h4>
                    <p>Alamacenamos tus datos de manera segura y encriptada en la nube.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-col">
                    <img src="static/assets/images/services/s3.png" alt="">
                    <h4>Completamente Adaptable</h4>
                    <p> DKR se adapta para cualquier tipo de pantalla, sistema operativo y modelo del computador. </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-col">
                    <img src="static/assets/images/services/s4.png" alt="">
                    <h4>Generamos estrategias</h4>
                    <p>A partir de análisis generamos estrategias para tener felices a tus clientes e integramos tu negocio más cerca a los clientes.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-col">
                   <img src="static/assets/images/services/s5.png" alt="">
                    <h4>Facil de usar</h4>
                    <p>Nos aseguramos de crear un producto facil de entender y manejar. Así como los resportes y análisis</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="feature-col">
                   <img src="static/assets/images/services/s6.png" alt="">
                    <h4>Soporte 24 x 7 </h4>
                    <p>Brindamos apoyo durante todo el dia por nuestros medios de comunicación y te asesoramos a las mejores horas para ti.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!--*************** Features Starts Here ***************-->
<section id="features" class="features container-fluid">
    <div class="container">
       <div class="row section-title">
           <h2>Planes Premium</h2>
           <p> Contamos con los siguientes planes que se acomoden a tus necesidades  </p>
       </div>
        <div class="row mt-5 feature-row">
            <div class="col-md-4">
                <div class="feature-col">
                   <img src="static/assets/images/services/s1.png" alt="">
                    <h4>Mensual</h4>
                    <p> Precio por tiempo limitado </p><p> Valido hasta 31/12/2022 </p><br>
                    <p>
                      &#10004; Control de acceso las 24 horas del día
                      <br>&#10004; Descarga de la base de datos de clientes en Excel.
                      <br>&#10004; Manejo de membresías de los clientes
                    <p>
                    <p>
                      &#10004; Servicio al cliente 24 -7
                      <br>&#10004; Soporte técnico prioritario
                      <br>&#10004; Actualizaciones del programa de forma gratuita
                    <p>
                    <p>
                      &#10004; Recibir informes mensuales del crecimiento del  comportamiento del negocio
                      <br>&#10004; Analítica semestral y anual enfocada al avance del negocio
                      <br>&#10004; Cambio de contraseñas ilimitadas
                    <p>
                    <p>
                      &#10004; 	Acceso a capacitaciones sobre manejo de los datos en su empresa
                      <br>&#10004; Acceso de datos en la nube
                      <br>&#10004; Asesorias personalizadas ilimitadas
                    <p>

                </div>
                <div class="btn-row row">
                   <a href="/contactanos" class="btn btn-outline-primary">$269.900 COP</a>
               </div>
                </div>

            <div class="col-md-4">
                <div class="feature-col">
                   <img src="static/assets/images/services/s2.png" alt="">
                    <h4>Semestral</h4>
                    <p> Obten el 12% de DESCUENTO </p><p> AHORRA $270.000 COP </p><br>
                    <p>
                      &#10004; Control de acceso las 24 horas del día
                      <br>&#10004; Descarga de la base de datos de clientes en Excel.
                      <br>&#10004; Manejo de membresías de los clientes
                    <p>
                    <p>
                      &#10004; Servicio al cliente 24 -7
                      <br>&#10004; Soporte técnico prioritario
                      <br>&#10004; Actualizaciones del programa de forma gratuita
                    <p>
                    <p>
                      &#10004; Recibir informes mensuales del crecimiento del  comportamiento del negocio
                      <br>&#10004; Analítica semestral y anual enfocada al avance del negocio
                      <br>&#10004; Cambio de contraseñas ilimitadas
                    <p>
                    <p>
                      &#10004; 	Acceso a capacitaciones sobre manejo de los datos en su empresa
                      <br>&#10004; Acceso de datos en la nube
                      <br>&#10004; Asesorias personalizadas ilimitadas
                    <p>

                </div>
                <div class="col-md-13 row">
                   <a href="/contactanos" class="btn btn-primary">$1'349.000 COP</a>
               </div>
                </div>


            <div class="col-md-4">
                <div class="feature-col">
                    <img src="static/assets/images/services/s3.png" alt="">
                    <h4>Anual</h4>
                    <p> Obten el 30% de DESCUENTO </p><p> AHORRA $1'200.000 COP </p><br>
                    <p>
                      &#10004; Control de acceso las 24 horas del día
                      <br>&#10004; Descarga de la base de datos de clientes en Excel.
                      <br>&#10004; Manejo de membresías de los clientes
                    <p>
                    <p>
                      &#10004; Servicio al cliente 24 -7
                      <br>&#10004; Soporte técnico prioritario
                      <br>&#10004; Actualizaciones del programa de forma gratuita
                    <p>
                    <p>
                      &#10004; Recibir informes mensuales del crecimiento del  comportamiento del negocio
                      <br>&#10004; Analítica semestral y anual enfocada al avance del negocio
                      <br>&#10004; Cambio de contraseñas ilimitadas
                    <p>
                    <p>
                      &#10004; 	Acceso a capacitaciones sobre manejo de los datos en su empresa
                      <br>&#10004; Acceso de datos en la nube
                      <br>&#10004; Asesorias personalizadas ilimitadas
                    <p>

                </div>
                <div class="col-sm-10"></div>
                <div class="btn-row row">
                   <a href="/contactanos" class="btn btn-outline-primary">$2'040.000 COP</a>
               </div>
            </div>
            </div>
          </div>
    </div>
</section>

<!--*************** Features Starts Here ***************-->
<section id="features" class="features container-fluid">
    <div class="container">
       <div class="row section-title">
           <h2>Premium vs Freemium</h2>
           <p> Asegúrate de tener lo mejor al alcance de tu negocio.  </p>
       </div>
        <div class="row mt-5 feature-row">
            <div class="col-md-6">
                <div class="feature-col">
                   <img src="static/assets/images/services/s5.png" alt="">
                    <h4>Premium</h4>
                    <br>
                    <p>
                      &#10004; Control de acceso las 24 horas del día
                      <br>&#10004; Descarga de la base de datos de clientes en Excel.
                      <br>&#10004; Manejo de membresías de los clientes
                    <p>
                    <p>
                      &#10004; Servicio al cliente 24 -7
                      <br>&#10004; Soporte técnico prioritario
                      <br>&#10004; Actualizaciones del programa de forma gratuita
                    <p>
                    <p>
                      &#10004; Recibir informes mensuales del crecimiento del  comportamiento del negocio
                      <br>&#10004; Analítica semestral y anual enfocada al avance del negocio
                      <br>&#10004; Cambio de contraseñas ilimitadas
                    <p>
                    <p>
                      &#10004; 	Acceso a capacitaciones sobre manejo de los datos en su empresa
                      <br>&#10004; Acceso de datos en la nube
                      <br>&#10004; Asesorias personalizadas ilimitadas
                    <p>

                </div>
                </div>


            <div class="col-md-6">
                <div class="feature-col">
                    <img src="static/assets/images/services/s3.png" alt="">
                    <h4>Freemium</h4>
                    <br>
                    <p>
                      &#10004; Control de acceso las 24 horas del día
                      <br>&#10004; Máximo  10 clientes inscritos por dia.
                      <br>&#10004; Máximo 5 clientes eliminados por dia.
                      <br>&#10004; Maximo 60 clientes en tu base de datos.
                      <br>&#10004; Cambio de contraseñas 1 vez al mes
                      <br>&#10004; Acceso de datos en la nube
                    <br><br><br><br><br><br><br>

                </div>
            </div>
            </div>
          </div>
    </div>
</section>

<!--********************************* Footer Starts Here ********************************************-->
<div class="footer-ablove">
    <div class="container">
        <div class="row">
            <p>¿Deseas probar el producto antes de comprarlo?
                <a href="https://drive.google.com/drive/folders/1J_ZMrOu7NMkkG8yhnJF7oznc9n5Sm914?usp=sharing" download="proposed_file_name"><button class="btn btn-default">Obtenlo acá</button></a>
            </p>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 about">
                <h2>Acerca de Nosotros</h2>
                <p>No creamos un producto para ganar dinero, ganamos dinero para crear un producto </p>

                <div class="foot-address">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="addet">
                        Bogotá D.C
                        Colombia
                        Latino américa, COL
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                        <i class="far fa-envelope-open"></i>
                    </div>
                    <div class="addet">
                        serviciosknr@gmail.com <br>
                    </div>
                </div>
                <div class="foot-address">
                    <div class="icon">
                       <i class="fas fa-mobile-alt"></i>
                   </div>
                   <div class="addet">
                    +57 313 269 8927 <br>
                    +57 310 244 0504
                </div>
            </div>
        </div>
        <div class="col-md-3 fotblog">
            <h2>Temas del Blog</h2>
            <div class="blohjb">
                <p>Importancia de la cultura del dato en tu negocio. </p>
                <span>01-04-2022</span>
            </div>
            <div class="blohjb">
                <p>Importancia de la renovación de los clientes. </p>
                <span>05-05-2022</span>
            </div>
            <div class="blohjb">
                <p>Integración de los datos en los negocios. </p>
                <span>22-06-2022</span>
            </div>
        </div>
        <div class="col-md-3 glink">
            <ul>
                <li><a href="/"><i class="fas fa-angle-double-right"></i>Inicio</a></li>
                <li><a href="/conocenos"><i class="fas fa-angle-double-right"></i>Acerca</a></li>
                <li><a href="/servicios"><i class="fas fa-angle-double-right"></i>Servicios</a></li>
                <li><a href="/blog"><i class="fas fa-angle-double-right"></i>Blog</a></li>
                <li><a href="/contactanos"><i class="fas fa-angle-double-right"></i>Contactanos</a></li>
            </ul>
        </div>
        <div class="col-md-3 tags">
            <h2>Easy Tags</h2>
            <ul>
                <li>Finanzas</li>
                <li>Negocio</li>
                <li>Marketing</li>
                <li>Datos</li>
                <li>Analítica</li>
                <li>Seguridad</li>
                <li>Tecnología</li>
            </ul>
        </div>
    </div>
</div>
</footer>
<div class="copy">
    <div class="container">
        <a href="">2022 &copy; All Rights Reserved | Designed and Developed by DK&R software</a>
        <span>
            <a><i class="fab fa-github"></i></a>
            <a><i class="fab fa-google-plus-g"></i></a>
            <a><i class="fab fa-pinterest-p"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-facebook-f"></i></a>
        </span>
    </div>
</div>

</body>

<script src="static/assets/js/jquery-3.2.1.min.js"></script>
<script src="static/assets/js/bootstrap.min.js"></script>
<script src="static/assets/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="static/assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="static/assets/js/script.js"></script>
</html>
